{% extends 'base.html.twig' %}

{% block title %}Hello HomePageController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Hello {{ controller_name }}</h1>
    <li><a href="{{ path('table') }}">Dice Table</a></li>
    <li><a href="{{ path('stat_rolls') }}">Character Stat Rolls</a></li>
    <li><a href="{{ path('AdvantagedAndDisadvantage') }}">advantage & disadvantage</a></li>
    <li><a href="{{ path('roll_dice_D6') }}">Retract Highest or Lowest Die</a></li>
    <li><a href="{{ path('roll_dice_D20') }}">Extra Random</a></li>
    <li><a href="{{ path('roll_dice_D20') }}">Design Your Dice</a></li>
 
</div>
{% endblock %}
